[user]
    name = Jingjing Duan
    email = jingjing.duan@hulu.com
[alias]
    a   = add
    cm  = commit -m
    cma = commit --amend
    c   = commit
    co  = checkout
    b   = branch
    d   = diff
    d1  = diff HEAD^
    d2  = diff HEAD^^
    d3  = diff HEAD^^^
    ds  = diff --staged
    s   = status
    p   = pull --rebase
    rh  = reset HEAD^
    rhh = reset HEAD^ --hard
    unstage = reset HEAD --
    lg = "log --graph --pretty=format:'%Cred%h%Creset\
        -%C(yellow)%d%Creset %s %Cgreen(%cr)\
        %C(bold blue)<%an>%Creset' --abbrev-commit\
        --date=relative"
    lga = "log --graph --pretty=format:'%Cred%h%Creset \
        -%C(yellow)%d%Creset %s %Cgreen(%cr) \
        %C(bold blue)<%an>%Creset' --abbrev-commit \
        --date=relative --all"
    # git track [remote] [branch]
    # eg: make the current branch track upstream/master
    # $ git track upstream master
    track = "!f(){ branch=$(git name-rev --name-only HEAD);\
        cmd=\"git branch --set-upstream $branch ${1:-origin}/${2:-$branch}\";\
        echo $cmd; $cmd;  }; f"
[core]
    editor = vim
    excludesfile = ~/.gitignore
[color]
    ui = auto
[color "diff"]
    meta = yellow
[github]
    user = jduan
    token = 1c29ea8a13206dc84afeb23312fb2daa
[push]
    default = tracking
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	trustExitCode = true
