[user]
    name = Jingjing Duan
    email = jingjing.duan@hulu.com
[alias]
    a   = add
    ap  = add -p
    cm  = commit -m
    cma = commit --amend
    c   = commit
    co  = checkout
    cp  = cherry-pick
    b   = branch
    # list branches ordered by most recent commit
    bd  = for-each-ref --sort=-committerdate refs/heads/ \
          --format='%(committerdate:short) %(authorname) %(refname:short)'
    d   = diff
    di  = diff --ignore-all-space
    d1  = diff HEAD~1
    d2  = diff HEAD~2
    d3  = diff HEAD~3
    d4  = diff HEAD~4
    d5  = diff HEAD~5
    d6  = diff HEAD~6
    d1i = diff HEAD~1 --ignore-all-space
    d2i = diff HEAD~2 --ignore-all-space
    d3i = diff HEAD~3 --ignore-all-space
    d4i = diff HEAD~4 --ignore-all-space
    d5i = diff HEAD~5 --ignore-all-space
    d6i = diff HEAD~6 --ignore-all-space
    ds  = diff --staged
    f   = fetch
    fa  = fetch --all
    m   = merge
    mf  = merge --ff-only
    mb  = merge-base
    p   = pull
    pr  = pull --rebase
    s   = status
    r   = rebase
    ri  = rebase -i
    rc  = rebase --continue
    rh  = reset HEAD^
    rhh = reset HEAD^ --hard
    sl  = stash list
    sp  = stash pop
    s0  = stash show -p stash@{0}
    s1  = stash show -p stash@{1}
    s2  = stash show -p stash@{2}
    s3  = stash show -p stash@{3}
    s4  = stash show -p stash@{4}
    s5  = stash show -p stash@{5}
    unstage = reset HEAD --
    lp = log -p
    lg = "log --graph --pretty=format:'%Cred%h%Creset\
        -%C(yellow)%d%Creset %s %Cgreen(%cr)\
        %C(bold blue)<%an>%Creset' --abbrev-commit\
        --date=relative"
    lga = "log --graph --pretty=format:'%Cred%h%Creset \
        -%C(yellow)%d%Creset %s %Cgreen(%cr) \
        %C(bold blue)<%an>%Creset' --abbrev-commit \
        --date=relative --all"
    # git track [remote] [branch]
    # eg: make the current branch track upstream/master
    # $ git track upstream master
    track = "!f(){ branch=$(git name-rev --name-only HEAD);\
        cmd=\"git branch --set-upstream $branch ${1:-origin}/${2:-$branch}\";\
        echo $cmd; $cmd;  }; f"
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
    edit-unmerged = \
        "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    add-unmerged = \
        "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
[core]
    editor = vim
	excludesfile = /Users/jingjing.duan/.gitignore
[color]
    ui = auto
[color "diff"]
    meta = yellow
[github]
    user = jduan
    token = 1c29ea8a13206dc84afeb23312fb2daa
[push]
    default = tracking
[merge]
	conflictstyle = diff3
	tool = vimdiff
	ff = false
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	trustExitCode = true
[init]
	templatedir = ~/.git_template
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
