# .vim/.netrwhist
.netrwhist

# vim
*~
*.swp
__Tagbar__
NERD_tree_1

# git
.gitignore

# eclipse
.classpath
.project
.settings/
eclipse-bin/
eclipse-build/

# TestNG
test-output/

# p4 and apollo
.p4config
apollo-overrides
backup/

# ctags
tags
cscope.out

# every branch has a README that should be ingored
# README

# Coral
coral-generated-src/

# mac
.DS_Store

.log

# fish shell
.config/fish/fishd*
.config/fish/fish_history
.config/htop/
.config/hub
.config/airbnb/

# rubocop
rubocop_cache/

# npm
.config/configstore/update-notifier-npm.json
