[user]
    name = Jingjing Duan
    email = jingjing.duan@hulu.com
[alias]
    a = add
    cm = commit -m
    cma = commit --amend
    c = commit
    co = checkout
    b = branch
    d = diff
    ds = diff --staged
    s = status
    p = pull --rebase
    unstage = reset HEAD --
    lg = "log --graph --pretty=format:'%Cred%h%Creset\
        -%C(yellow)%d%Creset %s %Cgreen(%cr)\
        %C(bold blue)<%an>%Creset' --abbrev-commit\
        --date=relative"
    lga = "log --graph --pretty=format:'%Cred%h%Creset \
        -%C(yellow)%d%Creset %s %Cgreen(%cr) \
        %C(bold blue)<%an>%Creset' --abbrev-commit \
        --date=relative --all"
[core]
    editor = vim
	excludesfile = /home/jduan/.gitignore
[color]
	ui = auto
[color "diff"]
    meta = yellow
[github]
	user = jduan
	token = 1c29ea8a13206dc84afeb23312fb2daa
[push]
	default = tracking
