" Don't source ~/.vimrc! It will mess things up.
" map b <Nop>
" map <Space> <Nop>

" no ignore case when pattern has uppercase
set smartcase
set ignorecase
set relativenumber

" Emulated Vim Plugins
set vim-surround
