" Don't source ~/.vimrc! It will mess things up.
" map b <Nop>
" map <Space> <Nop>

" no ignore case when pattern has uppercase
set smartcase
set ignorecase
set number
set relativenumber
" highlight matches with last search pattern
set hlsearch
" show where search pattern typed so far matches
set incsearch

" Emulated Vim Plugins
set vim-surround
